{
  "token": "your_google_access_token_here",
  "refresh_token": "your_refresh_token_here", 
  "token_uri": "https://oauth2.googleapis.com/token",
  "client_id": "your_client_id.apps.googleusercontent.com",
  "client_secret": "your_client_secret_here",
  "scopes": ["https://www.googleapis.com/auth/spreadsheets"],
  "universe_domain": "googleapis.com",
  "account": "",
  "expiry": "2025-12-31T23:59:59Z"
}
